// COLORS
$primary-color: #F9826C;
$secondary-color: #F64136;

$white-color: #0D1117;

$dark-grey: #0D1117;

$dark-blue-text: #CDD9E5; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
